header{
    height: 120px;
    display: flex;
    width: 100%;
    z-index: 999;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}
.menu-logo{
    min-width: 120px;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-noir{
    max-height: 90px;
    height: 60px;
}
#logo-blanc{
    position: relative;
    left: 50px;
}
.menu-top{
    display: flex;
    padding: 12px 25px;
    background: rgba(255, 255, 255, 0.5);
    width: 40%;
    justify-content: space-between;
    margin: 10px 50px;
}
.menu-top li{
    text-align: center;
    list-style-type: none;
}
.menu-top li a{
    text-decoration: none;
    color: var(--color-fonce);
    font-family: 'Unbounded-regular';
    transition: all .5s;
}
.menu-top li a:hover{
    text-decoration: none;
    color: var(--color-fonce);
    font-family: 'Unbounded-black';
    transition: all .5s;
}